XamFormsLocationServiceDI/XamFormsLocationServiceDI.Droid/bin
XamFormsLocationServiceDI/XamFormsLocationServiceDI.Droid/obj
XamFormsLocationServiceDI/XamFormsLocationServiceDI.iOS/bin
XamFormsLocationServiceDI/XamFormsLocationServiceDI.iOS/obj
XamFormsLocationServiceDI/XamFormsLocationServiceDI.WinPhone/obj
XamFormsLocationServiceDI/XamFormsLocationServiceDI/bin
XamFormsLocationServiceDI/XamFormsLocationServiceDI/obj
